GOES_XRS/OTHER_PARAMSEARCHES/BOTH_PARAMSEARCH/RESULTS/*
GOES_XRS/FOXSI_PARAMSEARCH/RESULTS/*
GOES_XRS/OTHER_PARAMSEARCHES/HIC_PARAMSEARCH/RESULTS/*
*.fits
GOES_XRS/MAKING_FITS/GOES_XRS_historical.fits
GOES_XRS/MAKING_FITS/GOES_XRS_computed_params.fits
GOES_XRS/MAKING_FITS/sci*
EVE_ESP/BOTH_PARAMSEARCH/RESULTS/*

