GOES_XRS/BOTH_PARAMSEARCH/RESULTS/*
GOES_XRS/FOXSI_PARAMSEARCH/RESULTS/*
GOES_XRS/HIC_PARAMSEARCH/RESULTS/*
GOES_XRS/GOES_XRS_historical.fits
GOES_XRS/GOES_computed_FAI.fits
GOES_XRS/GOES_computed_parameters.fits
GOES_XRS/sci*

